.admin {
  .ck-editor__editable {
    height: 400px !important;
  }

  .title__table {
    font-size: 15px;
    font-weight: 640;
    white-space: nowrap;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    user-select: none;
  }
}