@media screen and (max-width: 450px) {
  .home {
    &__images {
      width: 245px;
      height: 318px;
    }

    &__toy1 {
      width: 30px;
      right: 1.5rem;
      bottom: 3.5rem;
    }

    &__toy2 {
      width: 40px;
      transform: rotate(-25deg);
      top: 7rem;
      left: -1rem;
    }
  }

  .home__toy:nth-child(1) {
    width: 40px;
    transform: rotate(30deg);
  }

  .home__toy:nth-child(2) {
    width: 60px;
    bottom: 4rem;
  }

  .home__toy:nth-child(3) {
    width: 25px;
    transform: rotate(-15deg);
    top: 8rem;
    right: 3rem;
  }

  .store {
    &__container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .title {
    font-size: 1.7rem;
  }

  .auth {
    .form {
      padding: 20px 0;
      max-width: 300px;

      &__control {
        width: 250px;
        div {
          width: 100%;
        }
      }
    }

    .title {
      font-size: 1.5rem;
    }
  }

  .slide {
    padding-left: 0;
    padding-right: 0;
    order: -11;
  }

  .breadcrumb {
    li {
      font-size: 12px;
    }
  }

  .product {
    max-width: 100%;

    .same-product {
      margin-top: 0px!important;
    }

    &__image {
      .img {
        height: 372px!important;
      }
    }

    .carousel {
      padding-top: 1rem!important;
    }

    &__view-body {
      gap: 1rem;
      margin-top: 0px!important;
    }

    &__card {
      &-img {
        img {
          height: 150px!important;
        }
      }

      &-title {
        -webkit-line-clamp: 2!important;
        font-size: 11px;
        height: 30px;
        //line-height: 14px;
      }

      &-description {
        padding: 0 5px;
      }

      &-price {
        font-size: 13px;
      }

      &-slide {
        min-height: 260px!important;
      }
    }
  }

  .react-3d-carousel, .slider-single, .slider-single-content {
    img {
      height: 100%!important;
    }
  }
  .slider-single-content > a > div {
    height: 100%!important;
  }
}

@media screen and (min-width: 451px) and (max-width: 566px) {
  .home {
    &__images {
      width: 350px;
    }

    &__toy1 {
      width: 30px;
      right: 3.5rem;
      bottom: 15.5rem;
    }

    &__toy2 {
      width: 45px;
      transform: rotate(-25deg);
      top: 7rem;
      left: -1rem;
    }

    .home__toy:nth-child(1) {
      width: 45px;
      transform: rotate(30deg);
    }

    .home__toy:nth-child(2) {
      width: 65px;
      bottom: 13rem;
    }

    .home__toy:nth-child(3) {
      width: 30px;
      transform: rotate(-15deg);
      top: 3rem;
      right: 4rem;
    }
  }
}