.view {
  position: relative;
  &__img {
    img {
      max-height: 250px!important;
    }
  }

  &__icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
  }
}