.product {
  position: relative;

  .same-product {
    margin-top: 50px;
  }

  &__card {
    &-title {
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
    }

    &-img {
      img {
        width: auto;
        object-fit: cover;
        height: 300px;
      }
    }

    &-slide {
      min-height: 375px;
    }
  }

  &__image {
    position: sticky;
    top: 65px;
    margin: 0 auto;

    .img {
      margin-top: 2rem;
      transition: 0.3s;
      height: 650px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }

    .carousel {
      position: relative;
      padding-top: 2rem;
    }

    .carousel__images {
      display: flex;
      max-width: 100%;
      overflow-x: hidden;
    }

    .carousel__image-selected {
      border: 3px solid #ffa700 !important;
    }

    .carousel__image {
      margin-right: 10px;
      height: 120px;
      min-width: 120px;
      border: 3px solid #ffa70000;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #444444;
      border-radius: 5px;
    }

    .carousel__button {
      position: absolute;
      top: 40%;
    }

    .carousel__button-left {
      left: 10px;
    }

    .carousel__button-right {
      right: 10px;
    }

    @media only screen and (max-width: 900px) {
      .selected-image {
        height: 350px;
      }
      //
      //.carousel__image {
      //  height: 50px;
      //  min-width: 50px;
      //}
    }
  }

  .counter {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: start;

    input {
      width: 50px;
      line-height: 37px;
      font-size: 15px;
      text-align: center;
      font-weight: 500;
      color: black;
      appearance: none;
      outline: 0;
      border: 1px solid #f5f5f5;
    }

    span {
      display: block;
      font-size: 25px;
      padding: 0 10px;
      cursor: pointer;
      user-select: none;
      background-color: #f5f5f5;
      width: 40px;
      text-align: center;
      border: 1px solid #f5f5f5;
    }
  }

  &__view {
    &-body {
      display: grid;
      row-gap: 0.5rem;
      margin-top: 40px;
      width: 100%;
      max-width: 500px;

      .notice {
        background-color: #f8f9fa;
        border-radius: 0.5rem;
        padding: 10px;

        a {
          font-weight: 600;
          text-decoration: underline;
          color: var(--nextui-colors-link);
        }
      }

      .block {
        margin-top: 1rem;
      }
    }

    &-btn {
      padding-top: 25px;
      padding-bottom: 25px;
      text-transform: uppercase;
    }

    .main-price {
      font-size: 2rem;
    }

    .shipping {
      padding: 20px;

      &__box{
        margin-top: 20px;
      }

      &__title {
        font-weight: 600;
        font-size: 1.5rem;
        display: flex;
        gap: 10px;
        align-items: center;
      }

      &__icon {
        font-size: 1.4rem;
      }

      ul {
        margin-top: 0;
      }

      li {
        list-style: circle;
        margin-left: 6px;
        margin-bottom: 0;
      }
    }
  }

  .sold_out {
    top: 2em;
    left: -4em;
    color: #fff;
    display: block;
    position: absolute;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.06em;
    background-color: #a00;
    padding: 0.5em 5em 0.4em 5em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-45deg) scale(0.75, 1);
    z-index: 10;
  }
}
